<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96128188011-gk4ntvqc60m2moaq51og77vkv2etg0bk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96128188011-gk4ntvqc60m2moaq51og77vkv2etg0bk</string>
	<key>API_KEY</key>
	<string>AIzaSyBfztybAiJ4S_kW03595-IHshgTqgwyTVI</string>
	<key>GCM_SENDER_ID</key>
	<string>96128188011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DevicesWorld</string>
	<key>PROJECT_ID</key>
	<string>devicesworld-8e04c</string>
	<key>STORAGE_BUCKET</key>
	<string>devicesworld-8e04c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96128188011:ios:e7df6464deda2e3c583b2e</string>
</dict>
</plist>